$border-radius-botao: 4px;
$border-radius-extra-pequeno: 8px;
$border-radius-pequeno: 12px;
$border-radius-normal: 16px;
$border-radius-grande: 20px;
$border-radius-extra-grande: 24px;
$border-radius-circulo: 50%;

$border-radius: ();

$border-radius: map-merge(
	(
		'botao': $border-radius-botao,
		'extra-pequeno': $border-radius-extra-pequeno,
		'pequeno': $border-radius-pequeno,
		'normal': $border-radius-normal,
		'grande': $border-radius-grande,
		'extra-grande': $border-radius-extra-grande,
		'circulo': $border-radius-circulo,
	),
	$border-radius
);
