$branco: #ffffff;
$cinza-1: #FAFBFE;
$cinza-2: #F0F3FA;
$cinza-3: #DDE2E7;
$cinza-4: #CED4DA;
$cinza-5: #ABB5BF;
$cinza-6: #697580;
$cinza-7: #44505C;
$cinza-8: #303A44;
$cinza-9: #182532;

$n-0: #ffffff;
$n-10: #FAFCFE;
$n-20: #EFF5FB;
$n-30: #E2EAF3;
$n-40: #D3DBE4;
$n-50: #BCC7D2;
$n-100: #ABB8C4;
$n-200: #9AA8B6;
$n-300: #8B99A7;
$n-400: #7C8A98;
$n-500: #566676;
$n-600: #475766;
$n-700: #36424E;
$n-800: #29333D;
$n-900: #1E252C;

$t-100: #F0FAFF;
$t-200: #C2EDFF;
$t-300: #7BD0F4;
$t-400: #3CACDD;
$t-500: #1F86B2;
$t-600: #18698B;
$t-700: #13526D;

$g-100: #EEFCF5;
$g-200: #ABEDD9;
$g-300: #6DDFBC;
$g-400: #2AC092;
$g-500: #239F78;
$g-600: #197155;
$g-700: #145C45;

$b-100: #F2F5FD;
$b-200: #B6D1F7;
$b-300: #83AFEC;
$b-400: #377EE1;
$b-500: #206ED9;
$b-600: #1B59B1;
$b-700: #144385;

$i-100: #E5EAFF;
$i-200: #CED6FD;
$i-300: #AAB7F8;
$i-400: #6174D1;
$i-500: #5464B6;
$i-600: #3A4788;
$i-700: #353D64;

$v-100: #F8F0FF;
$v-200: #E6D2F9;
$v-300: #CEABED;
$v-400: #A169D3;
$v-500: #8F4DCC;
$v-600: #7633B2;
$v-700: #642B96;

$p-100: #FFEFF9;
$p-200: #F9C8E2;
$p-300: #EF8FC0;
$p-400: #DD5A9C;
$p-500: #CC3381;
$p-600: #A52766;
$p-700: #701A48;

$r-100: #FFF0F2;
$r-200: #FBD0D6;
$r-300: #F797A3;
$r-400: #F95367;
$r-500: #E83047;
$r-600: #D22D41;
$r-700: #A42333;

$o-100: #FFF3F0;
$o-200: #FFD6CC;
$o-300: #FDAF9B;
$o-400: #FF8567;
$o-500: #F5613D;
$o-600: #D64B29;
$o-700: #AB3C21;

$a-100: #FFF7EB;
$a-200: #FFE2B8;
$a-300: #FDCD87;
$a-400: #FFB952;
$a-500: #EEA22F;
$a-600: #D38817;
$a-700: #A56A12;

$cinzas: ();

$cinzas: map-merge(
	(
		"1": $cinza-1,
		"2": $cinza-2,
		"3": $cinza-3,
		"4": $cinza-4,
		"5": $cinza-5,
		"6": $cinza-6,
		"7": $cinza-7,
		"8": $cinza-8,
		"9": $cinza-9
	),
	$cinzas
);

$t: ();

$t: map-merge(
	(
		"100": $t-100,
		"200": $t-200,
		"300": $t-300,
		"400": $t-400,
		"500": $t-500,
		"600": $t-600,
		"700": $t-700,
	),
	$t
);

$g: ();

$g: map-merge(
	(
		"100": $g-100,
		"200": $g-200,
		"300": $g-300,
		"400": $g-400,
		"500": $g-500,
		"600": $g-600,
		"700": $g-700,
	),
	$g
);

$b: ();

$b: map-merge(
	(
		"100": $b-100,
		"200": $b-200,
		"300": $b-300,
		"400": $b-400,
		"500": $b-500,
		"600": $b-600,
		"700": $b-700,
	),
	$b
);

$i: ();

$i: map-merge(
	(
		"100": $i-100,
		"200": $i-200,
		"300": $i-300,
		"400": $i-400,
		"500": $i-500,
		"600": $i-600,
		"700": $i-700,
	),
	$i
);

$v: ();

$v: map-merge(
	(
		"100": $v-100,
		"200": $v-200,
		"300": $v-300,
		"400": $v-400,
		"500": $v-500,
		"600": $v-600,
		"700": $v-700,
	),
	$v
);

$p: ();

$p: map-merge(
	(
		"100": $p-100,
		"200": $p-200,
		"300": $p-300,
		"400": $p-400,
		"500": $p-500,
		"600": $p-600,
		"700": $p-700,
	),
	$p
);

$r: ();

$r: map-merge(
	(
		"100": $r-100,
		"200": $r-200,
		"300": $r-300,
		"400": $r-400,
		"500": $r-500,
		"600": $r-600,
		"700": $r-700,
	),
	$r
);

$o: ();

$o: map-merge(
	(
		"100": $o-100,
		"200": $o-200,
		"300": $o-300,
		"400": $o-400,
		"500": $o-500,
		"600": $o-600,
		"700": $o-700,
	),
	$o
);

$a: ();

$a: map-merge(
	(
		"100": $a-100,
		"200": $a-200,
		"300": $a-300,
		"400": $a-400,
		"500": $a-500,
		"600": $a-600,
		"700": $a-700,
	),
	$a
);

$n: ();

$n: map-merge(
	(
		"0": $n-0,
		"10": $n-10,
		"20": $n-20,
		"30": $n-30,
		"40": $n-40,
		"50": $n-50,
		"100": $n-100,
		"200": $n-200,
		"300": $n-300,
		"400": $n-400,
		"500": $n-500,
		"600": $n-600,
		"700": $n-700,
		"800": $n-800,
		"900": $n-900,
	),
	$n
);

$palete: ();

$palete: map-merge(
	(
		'Sulivan': $t,
		'Piccolo': $g,
		'Nocturne': $b,
		'Sonic': $i,
		'Raven': $v,
		'Boo': $p,
		'Carmen': $r,
		'Goku': $o,
		'Lisa': $a,
		'Neutrals': $n,
	),
	$palete
);