$n-0: #ffffff;
$n-10: #FAFCFE;
$n-20: #EFF5FB;
$n-30: #E2EAF3;
$n-40: #D3DBE4;
$n-50: #BCC7D2;
$n-100: #ABB8C4;
$n-200: #9AA8B6;
$n-300: #8B99A7;
$n-400: #7C8A98;
$n-500: #566676;
$n-600: #475766;
$n-700: #36424E;
$n-800: #29333D;
$n-900: #1E252C;

$gp-50: #F4FDF9;
$gp-100: #EEFCF5;
$gp-200: #ABEDD9;
$gp-300: #6DDFBC;
$gp-400: #2AC092;
$gp-500: #239F78;
$gp-600: #197155;
$gp-700: #145C45;

$ts-50: #F7FCFF;
$ts-100: #F0FAFF;
$ts-200: #C2EDFF;
$ts-300: #7BD0F4;
$ts-400: #3CACDD;
$ts-500: #1F86B2;
$ts-600: #18698B;
$ts-700: #13526D;

$bn-50: #F8FAFE;
$bn-100: #F2F5FD;
$bn-200: #B6D1F7;
$bn-300: #83AFEC;
$bn-400: #377EE1;
$bn-500: #206ED9;
$bn-600: #1B59B1;
$bn-700: #144385;

$in-50: #F2F4FF;
$in-100: #E5EAFF;
$in-200: #CED6FD;
$in-300: #AAB7F8;
$in-400: #6174D1;
$in-500: #5464B6;
$in-600: #3A4788;
$in-700: #353D64;

$vr-50: #FBF7FF;
$vr-100: #F8F0FF;
$vr-200: #E6D2F9;
$vr-300: #CEABED;
$vr-400: #A169D3;
$vr-500: #8F4DCC;
$vr-600: #7633B2;
$vr-700: #642B96;

$pp-50: #FFF7FC;
$pp-100: #FFEFF9;
$pp-200: #F9C8E2;
$pp-300: #EF8FC0;
$pp-400: #DD5A9C;
$pp-500: #CC3381;
$pp-600: #A52766;
$pp-700: #701A48;

$rc-50: #FFF7F8;
$rc-100: #FFF0F2;
$rc-200: #FBD0D6;
$rc-300: #F797A3;
$rc-400: #F95367;
$rc-500: #E83047;
$rc-600: #D22D41;
$rc-700: #A42333;

$og-50: #FFF9F7;
$og-100: #FFF3F0;
$og-200: #FFD6CC;
$og-300: #FDAF9B;
$og-400: #FF8567;
$og-500: #F5613D;
$og-600: #D64B29;
$og-700: #AB3C21;

$al-50: #FFFBF5;
$al-100: #FFF7EB;
$al-200: #FFE2B8;
$al-300: #FDCD87;
$al-400: #FFB952;
$al-500: #EEA22F;
$al-600: #D38817;
$al-700: #A56A12;

$g: (
);

$g: map-merge(("50": $gp-50,
			"100": $gp-100,
			"200": $gp-200,
			"300": $gp-300,
			"400": $gp-400,
			"500": $gp-500,
			"600": $gp-600,
			"700": $gp-700,
		),
		$g);

$t: (
);

$t: map-merge(("50": $ts-50,
			"100": $ts-100,
			"200": $ts-200,
			"300": $ts-300,
			"400": $ts-400,
			"500": $ts-500,
			"600": $ts-600,
			"700": $ts-700,
		),
		$t);

$b: (
);

$b: map-merge(("50": $bn-50,
			"100": $bn-100,
			"200": $bn-200,
			"300": $bn-300,
			"400": $bn-400,
			"500": $bn-500,
			"600": $bn-600,
			"700": $bn-700,
		),
		$b);

$i: (
);

$i: map-merge(("50": $in-50,
			"100": $in-100,
			"200": $in-200,
			"300": $in-300,
			"400": $in-400,
			"500": $in-500,
			"600": $in-600,
			"700": $in-700,
		),
		$i);

$v: (
);

$v: map-merge(("50": $vr-50,
			"100": $vr-100,
			"200": $vr-200,
			"300": $vr-300,
			"400": $vr-400,
			"500": $vr-500,
			"600": $vr-600,
			"700": $vr-700,
		),
		$v);

$p: (
);

$p: map-merge(("50": $pp-50,
			"100": $pp-100,
			"200": $pp-200,
			"300": $pp-300,
			"400": $pp-400,
			"500": $pp-500,
			"600": $pp-600,
			"700": $pp-700,
		),
		$p);

$r: (
);

$r: map-merge(("50": $rc-50,
			"100": $rc-100,
			"200": $rc-200,
			"300": $rc-300,
			"400": $rc-400,
			"500": $rc-500,
			"600": $rc-600,
			"700": $rc-700,
		),
		$r);

$o: (
);

$o: map-merge(("50": $og-50,
			"100": $og-100,
			"200": $og-200,
			"300": $og-300,
			"400": $og-400,
			"500": $og-500,
			"600": $og-600,
			"700": $og-700,
		),
		$o);

$a: (
);

$a: map-merge(("50": $al-50,
			"100": $al-100,
			"200": $al-200,
			"300": $al-300,
			"400": $al-400,
			"500": $al-500,
			"600": $al-600,
			"700": $al-700,
		),
		$a);

$n: (
);

$n: map-merge(("0": $n-0,
			"10": $n-10,
			"20": $n-20,
			"30": $n-30,
			"40": $n-40,
			"50": $n-50,
			"100": $n-100,
			"200": $n-200,
			"300": $n-300,
			"400": $n-400,
			"500": $n-500,
			"600": $n-600,
			"700": $n-700,
			"800": $n-800,
			"900": $n-900,
		),
		$n);

$palete: (
);

$palete: map-merge(('PiccoloGreen': $g,
			'SulivanTurquoise': $t,
			'NocturneBlue': $b,
			'NightWingIndigo': $i,
			'RavenViolet': $v,
			'PeppaPink': $p,
			'CarmenRed': $r,
			'GokuOrange': $o,
			'LisaAmber': $a,
			'Neutrals': $n,
		),
		$palete);