$shadow-sm: 0 4.1899px 14.6647px -4.1899px rgba(27, 72, 125, 0.75);
$shadow-md: 0 4.1899px 25.1394px -4.1899px rgba(42, 78, 172, 0.08), 0 25.1394px 16.7596px -16.7596px rgba(42, 78, 172, 0.09), 0 8.3798px 16.7596px -8.3798px rgba(42, 78, 172, 0.07);
$shadow-lg: 0 4.1899px 25.1394px 4.1899px rgba(53, 119, 198, 0.06), 0 16.7596px 50.2788px -8.3798px rgba(53, 119, 198, 0.02), 0 37.7091px 33.5192px -16.7596px rgba(53, 119, 198, 0.08);
$shadow-xl: 0 29.3293px 83.798px -33.5192px rgba(10, 35, 66, 0.3), 0 16.7596px 67.0384px -8.3798px rgba(10, 35, 66, 0.08), 0 27.4195px 21.9356px rgba(10, 35, 66, 0.0417275), 0 14.5623px 11.6498px rgba(10, 35, 66, 0.0503198), 0 6.05969px 4.84775px rgba(10, 35, 66, 0.07);

$shadows: ();

$shadows: map-merge(
	(
		'sm': $shadow-sm,
		'md': $shadow-md,
		'lg': $shadow-lg,
		'xl': $shadow-xl,
	),
	$shadows
);
