$font-weight-regular: 400;

$font-weight-medium: 500;

$font-weight-semibold: 600;

@mixin heading-1 {
	font-size: 47px !important;
	letter-spacing: 0px !important;
	font-weight: $font-weight-regular;
}

@mixin heading-2 {
	font-size: 33px !important;
	letter-spacing: 0.25px !important;
	font-weight: $font-weight-regular;
}

@mixin heading-3 {
	font-size: 23px !important;
	letter-spacing: 0px !important;
	font-weight: $font-weight-regular;
}

@mixin subheading-1 {
	font-size: 22px !important;
	letter-spacing: 0.15px !important;
	font-weight: $font-weight-medium;
}

@mixin subheading-2 {
	font-size: 16px !important;
	letter-spacing: 0.1px !important;
	font-weight: $font-weight-medium;
}

@mixin subheading-3 {
	font-size: 14px !important;
	letter-spacing: 0.1px !important;
	font-weight: $font-weight-regular;
}

@mixin body-1 {
	font-size: 16px !important;
	letter-spacing: 0.5px !important;
	font-weight: $font-weight-regular;
}

@mixin body-2 {
	font-size: 14px !important;
	letter-spacing: 0.25px !important;
	font-weight: $font-weight-regular;
}

@mixin caption {
	font-size: 12px !important;
	letter-spacing: 0.15px !important;
	font-weight: $font-weight-regular;
}

@mixin button-1 {
	font-size: 16px !important;
	letter-spacing: 0.25px !important;
	font-weight: $font-weight-semibold;
}

@mixin button-2 {
	font-size: 14px !important;
	letter-spacing: 0.15px !important;
	font-weight: $font-weight-semibold;
}
