$border-radius-button: 4px;
$border-radius-lil: 6px;
$border-radius-extra-small: 8px;
$border-radius-small: 12px;
$border-radius-medium: 16px;
$border-radius-large: 20px;
$border-radius-extra-large: 24px;
$border-radius-circle: 50%;

$border-radius: ();

$border-radius: map-merge(
	(
		'button': $border-radius-button,
		'lil': $border-radius-lil,
		'extra-small': $border-radius-extra-small,
		'small': $border-radius-small,
		'medium': $border-radius-medium,
		'large': $border-radius-large,
		'extra-large': $border-radius-extra-large,
		'circle': $border-radius-circle,
	),
	$border-radius
);
