/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
	--vp-font-family-base: 'Satoshi', sans-serif;

	--vp-c-blue-1: #2db981;
	--vp-c-blue-2: #2db981;
	--vp-c-blue-3: #2db981;
	--vp-c-blue-soft: #e6effe;

	--vp-code-color: #239f6d;

	--vp-c-default-1: var(--vp-c-gray-1);
	--vp-c-default-2: var(--vp-c-gray-2);
	--vp-c-default-3: var(--vp-c-gray-3);
	--vp-c-default-soft: var(--vp-c-gray-soft);

	--vp-c-brand-1: var(--vp-c-blue-1);
	--vp-c-brand-2: var(--vp-c-blue-2);
	--vp-c-brand-3: var(--vp-c-blue-3);
	--vp-c-brand-soft: var(--vp-c-blue-soft);

	--vp-c-tip-1: var(--vp-c-brand-1);
	--vp-c-tip-2: var(--vp-c-brand-2);
	--vp-c-tip-3: var(--vp-c-brand-3);
	--vp-c-tip-soft: var(--vp-c-brand-soft);

	--vp-c-warning-1: var(--vp-c-yellow-1);
	--vp-c-warning-2: var(--vp-c-yellow-2);
	--vp-c-warning-3: var(--vp-c-yellow-3);
	--vp-c-warning-soft: var(--vp-c-yellow-soft);

	--vp-c-danger-1: #e03e52;
	--vp-c-danger-2: #e03e52;
	--vp-c-danger-3: #e03e52;
	--vp-c-danger-soft: #fdaf9b;
	--vp-badge-danger-bg: #ffebed;

	--vp-layout-max-width: 1600px !important;
}

.text {
	max-width: 900px !important;
}

.VPFeature.link:hover {
	border-color: #abedd3 !important;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
	--vp-button-brand-border: transparent;
	--vp-button-brand-text: var(--vp-c-white);
	--vp-button-brand-bg: var(--vp-c-brand-3);
	--vp-button-brand-hover-border: transparent;
	--vp-button-brand-hover-text: var(--vp-c-white);
	--vp-button-brand-hover-bg: var(--vp-c-brand-2);
	--vp-button-brand-active-border: transparent;
	--vp-button-brand-active-text: var(--vp-c-white);
	--vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		120deg,
		#2db981 30%,
		#2db981,
		#2db981
	);

	--vp-home-hero-image-background-image: linear-gradient(
		-45deg,
		#2db981 50%,
		#2db981,
		#2db981 50%
	);
	--vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(68px);
	}
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
	--vp-custom-block-tip-border: transparent;
	--vp-custom-block-tip-text: var(--vp-c-text-1);
	--vp-custom-block-tip-bg: var(--vp-c-brand-soft);
	--vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
	--docsearch-primary-color: var(--vp-c-brand-1) !important;
}

body {
	font-family: var(--vp-font-family-base) !important;
}


h1 {
	margin: 12px 0 !important;
	line-height: 1 !important;
}

.vp-doc h2 {
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	font-size: 22px !important;
	font-weight: 600 !important;
	color: #3B4754 !important;
}

.vp-doc tr {
	background-color: transparent !important;
}

.vp-doc tr:nth-child(2n) {
	background-color: transparent !important;
}

.vp-doc th,
.vp-doc td {
	border: none !important;
	border-bottom: 1px solid #E7EDF3 !important;
}

.vp-doc th {
	background-color: transparent !important;
}

.vp-doc tbody,
.vp-doc thead {
	width: 100% !important;
}

.vp-doc tr {
	width: 100% !important;
}

.vp-doc hr {
	margin-top: 36px !important;
	margin-bottom: 24px !important;
}

.VPFeatures  > .container > .items {
	margin-bottom: 32px !important;
}

.docs-badge[type="info"] {
	background: #467bd8;
	color: #f6f9fe;
	border-radius: 5px;
	padding: 0.1em 0.6em;
	font-size: 0.8em;
	margin-left: 0.4em;
}

.docs-badge[type="warning"] {
	background: #eda831;
	color: #fefbf6;
	border-radius: 5px;
	padding: 0.1em 0.6em;
	font-size: 0.8em;
	margin-left: 0.4em;
}

.docs-badge[type="danger"] {
	background: #F3596C;
	color: #fef6f7;
	border-radius: 5px;
	padding: 0.1em 0.6em;
	font-size: 0.8em;
	margin-left: 0.4em;
}


.badge-ready {
	background: #2db981;
	color: white;
	border-radius: 4px;
	padding: 0 0.4em;
	font-size: 0.75em;
	margin-left: 0.4em;
}

.badge-dev {
	background: orange;
}

.content-container {
	max-width: 920px !important;
}

.vp-doc li + li {
	margin-top: 0px;
}

.vp-doc p {
	line-height: normal;
}
