name: "Releaser ✔️"
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Creates tag
        uses: Klemensas/action-autotag@stable
        id: auto-tag
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          tag_prefix: "v"
      - name: Read package.json
        uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.auto-tag.outputs.tagname }}
          release_name: "v${{ steps.package-version.outputs.version }}"
          body: |
            Mudanças nessa release:
            ${{ '- Adiciona:' }}
            ${{ '- Corrige:' }}
            ${{ '- Modifica:' }}
            ${{ '- Remove:' }}
          draft: false
          prerelease: false
