@use './tokens/index' as tokens;

%input {
    display: flex;
	justify-content: space-between;
	outline: 1px solid tokens.$n-50;
	border-radius: tokens.$border-radius-extra-small;
	width: 266px;
	background: tokens.$n-0;
}

%placeholder {
    color: tokens.$n-400;
}

%focused {
    outline: 1px solid tokens.$bn-300;
    transition: box-shadow ease-in-out 150ms, outline ease-in-out 100ms;
    box-shadow: 0 0 0 0.1rem rgba(tokens.$bn-300, 1);
}

%valid {
    outline: 1px solid tokens.$gp-500;
    transition: box-shadow ease-in-out 150ms, outline ease-in-out 100ms;
}

%invalid {
    outline: 1px solid tokens.$rc-500;
    transition: box-shadow ease-in-out 150ms, outline ease-in-out 100ms;
}

%focused-valid {
    transition: box-shadow ease-in-out 150ms, outline ease-in-out 100ms;
    box-shadow: 0 0 0 0.1rem rgba(tokens.$gp-500, 1);
}

%focused-invalid {
    transition: box-shadow ease-in-out 150ms, outline ease-in-out 100ms;
    box-shadow: 0 0 0 0.1rem rgba(tokens.$rc-500, 1);
}

%disabled {
    background-color: hsl(214 25% 98% / 1);
    border: none;
    cursor: not-allowed !important;
}

%custom-ol, %custom-ul {
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 4px;
}

%custom-li {
	list-style: none;
	display: flex;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

%custom-li::before {
    content: '•';
    margin-right: 8px;
}

%user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
