$shadow-sm: 0px 4px 8px rgba(16, 24, 64, 0.04);
$shadow-md: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-lg: 0 29.3293px 83.798px -33.5192px rgba(10, 35, 66, 0.3), 0 16.7596px 67.0384px -8.3798px rgba(10, 35, 66, 0.08), 0 27.4195px 21.9356px rgba(10, 35, 66, 0.0417275), 0 14.5623px 11.6498px rgba(10, 35, 66, 0.0503198), 0 6.05969px 4.84775px rgba(10, 35, 66, 0.07);

$shadows: ();

$shadows: map-merge(
	(
		'sm': $shadow-sm,
		'md': $shadow-md,
		'lg': $shadow-lg,
	),
	$shadows
);
