@import "./colors";
@import "./spacing";
@import "./typography";
@import "./fontWeight.scss";

// TEMP TODO
$border-radius-button: 4px;
$border-radius-lil: 6px;
$border-radius-extra-small: 8px;
$border-radius-small: 12px;