@mixin heading-1 {
	font-size: 45px !important;
	letter-spacing: 0.15px !important;
	font-weight: 700;
}

@mixin heading-2 {
	font-size: 33px !important;
	letter-spacing: 0.1px !important;
	font-weight: 700;
}

@mixin heading-3 {
	font-size: 29px !important;
	letter-spacing: 0px !important;
	font-weight: 650;
}

@mixin subheading-1 {
	font-size: 25px !important;
	letter-spacing: 0.15px !important;
	font-weight: 600;
}

@mixin subheading-2 {
	font-size: 21px !important;
	letter-spacing: 0px !important;
	font-weight: 600;
}

@mixin subheading-3 {
	font-size: 17px !important;
	letter-spacing: 0px !important;
	font-weight: 600;
}

@mixin body-1 {
	font-size: 17px !important;
	letter-spacing: 0px !important;
	font-weight: 430;
}

@mixin body-2 {
	font-size: 15px !important;
	letter-spacing: 0px !important;
	font-weight: 430;
}

@mixin button-1 {
	font-size: 17px !important;
	letter-spacing: 0.2px !important;
	font-weight: 750;
}

@mixin button-2 {
	font-size: 15px !important;
	letter-spacing: 0.15px !important;
	font-weight: 700;
}

@mixin caption {
	font-size: 13.5px !important;
	letter-spacing: 0.1px !important;
	font-weight: 470;
}

@mixin overline {
	font-size: 11.5px !important;
	letter-spacing: 0.15px !important;
	font-weight: 650;
}
